# String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string = input("Enter a string")
rev = string[::-1]
print(rev)

Enter a stringPramikha
ahkimarP

2. Check if a string is a palindrome.

In [2]:
string=input("Enter a string")
rev=string[::-1]
if string == rev:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter a stringmalayalam
It's a palindrome

3.Convert a string to uppercase

In [3]:
string=input("Enter a string")
upper=string.upper()
print(upper)

Enter a stringHarry Potter
HARRY POTTER

4.Convert a string to lowercase

In [4]:
string=input("Enter a string")
lower=string.lower()
print(lower)

Enter a stringHeRMOiNe GRanGER
hermoine granger

5.Count the number of vowels in a string.

In [7]:
# Program: Count number of vowels in a String in Python

str = input("Enter a string")

# initializing count variable
count = 0

# creating a list of vowels
vowels = ["a", "e", "i", "o", "u"]
string=str.lower()

for i in range(len(string)):
    if string[i] in vowels:
        count += 1

print("Number of vowels in the given string is: ", count)

Enter a stringMy name is Sridevi
Number of vowels in the given string is:  6

6.Count the number of consonants in a string.

In [8]:
str=input("Enter a string")
count=0
string=str.upper()
vowels=['a','e','i','o','u']
for i in range(len(string)):
    if string[i] in vowels:
        count=count+1
print("The no. of consonants are", len(string)-count)

Enter a stringMy name is Sridevi
The no. of consonants are 18

7. Remove all whitespaces from a string.

In [9]:
str=input("Enter a string")
newstring = str.replace(" ","")
print(newstring)

Enter a stringI am an aspiring data scientist/analyst
Iamanaspiringdatascientist/analyst

8. Find the length of a string without using the `len()` function.

In [11]:
str=input("Enter a string")
count = 0
for i in str:
    count=count+1
print(count)

Enter a stringSunday
6

9. Check if a string contains a specific word.

In [12]:
str=input("Enter a string")
word=input("Enter a word")
if word in str:
    print("Word present in string")
else:
    print('Word not present in string')

Enter a stringIt is a sunny day today
Enter a wordsunny
Word present in string

10. Replace a word in a string with another word.

In [14]:
str=input("Enter a string")
word=input("Enter a word")

new=str.replace('good',word)
print(new)

Enter a stringpriya is a good student
Enter a wordpoor
priya is a poor student

11. Count the occurrences of a word in a string.

In [19]:
text = input("Enter a string")
word = input("Enter a word")

# Split the text into words
split = text.split()

# Initialize a count variable
count = 0

# Iterate through the words and count occurrences
for i in split:
    if i == word:
        count += 1

print(count)

Enter a stringPluto is a dark planet. Pluto is dwarf
Enter a wordPluto
2

12. Find the first occurrence of a word in a string.

In [29]:
text = input("Enter a string")
word = input("Enter a word")


index = text.find(word)

if index != -1:
    print(f"The first occurrence of '{word}' starts at position {index}.")
else:
    print(f"'{word}' was not found in the text.")

Enter a stringI love dogs and cats
Enter a wordlove
The first occurrence of 'love' starts at position 2.

13. Find the last occurrence of a word in a string.

In [31]:
text = "This is a simple example. This is a test example."
word = "example"

# Find the last occurrence of the word
index = text.rfind(word)

if index != -1:
    print(f"The last occurrence of '{word}' starts at position {index}.")
else:
    print(f"'{word}' was not found in the text.")

The last occurrence of 'example' starts at position 41.

14. Split a string into a list of words.

In [33]:
str=input("Enter a string")
split_word=str.split()
print(split_word)

Enter a stringData Science is a high scope field
['Data', 'Science', 'is', 'a', 'high', 'scope', 'field']

15. Join a list of words into a string.

In [34]:
# List of words
word_list = ["This", "is", "a", "list", "of", "words"]

# Join the words into a single string with spaces
result = " ".join(word_list)

print(result)

This is a list of words

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [36]:
str=input("Enter a string")
new=str.replace(" ","_")
print(new)

Enter a stringI love my little sister
I_love_my_little_sister

17. Check if a string starts with a specific word or phrase.

In [41]:
str = input("Enter a string")

# Word or phrase to check for at the end
word = input("Enter the word or phrase")

# Check if the text ends with the specified ending
if str.startswith(word):
    print(f"The text starts with '{word}'.")
else:
    print(f"The text does not start with '{word}'.")

Enter a stringSewol ferry tragedy was caused by recklessness of the South Korean government
Enter the word or phraseSewol ferry
The text starts with 'Sewol ferry'.

18. Check if a string ends with a specific word or phrase.

In [40]:
str = input("Enter a string")

# Word or phrase to check for at the end
word = input("Enter the word or phrase")

# Check if the text ends with the specified ending
if str.endswith(word):
    print(f"The text ends with '{word}'.")
else:
    print(f"The text does not end with '{word}'.")

Enter a stringSewol ferry tragedy was caused by recklessness of the South Korean government
Enter the word or phraseSouth Korean government
The text ends with 'South Korean government'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [42]:
str=input("Enter a string")
title=str.title()
print(title)

Enter a stringbermuda triangle is a mystery off the coast of south florida
Bermuda Triangle Is A Mystery Off The Coast Of South Florida

20. Find the longest word in a string.

In [43]:
text = input("Enter a string")

# Split the text into words and find the longest word
longest_word = max(text.split(), key=len)

print(f"The longest word is '{longest_word}' with a length of {len(longest_word)} characters.")

Enter a stringThis is a sample sentence with some long words like elephant and hippopotamus.
The longest word is 'hippopotamus.' with a length of 13 characters.

21. Find the shortest word in a string.

In [44]:
text = input("Enter a string")

# Split the text into words and find the longest word
shortest_word = min(text.split(), key=len)

print(f"The longest word is '{shortest_word}' with a length of {len(shortest_word)} characters.")

Enter a stringThis is a sample sentence with some long words like elephant and hippopotamus.
The longest word is 'a' with a length of 1 characters.

22. Reverse the order of words in a string.

In [46]:
str=input("Enter a string")
split=str.split()
rev=split[::-1]
result=" ".join(rev)
print(result)

Enter a stringMy name is Pramikha
Pramikha is name My

23. Check if a string is alphanumeric.

In [47]:
str=input("Enter a string")
if str.isalnum():
    print("It's alphanumeric")
else:
    print("Not alphanumeric")

Enter a stringTrisha32
It's alphanumeric

24. Extract all digits from a string.

In [1]:
text = input("Enter a string")

# Initialize an empty string to store the digits
all_digits = ""

# Iterate through the characters in the text
for char in text:
    if char.isdigit():
        all_digits += char

print(all_digits)

Enter a stringHgkrnk984jdnk399
984399

25. Extract all alphabets from a string.

In [2]:
str=input("Enter the string")
all_digits = ""

for char in str:
    if char.isalpha():
        all_digits += char
print(all_digits)

Enter the string9nd0n2 d59
ndnd

26. Count the number of uppercase letters in a string.

In [3]:
str_input = input("Enter the string: ")
count = 0

for i in str_input:
    if i.isupper():
        count += 1

print(count)

Enter the string: My SJKWnnos JOWjwnIS bdssA
11

27. Count the number of lowercase letters in a string.

In [4]:
str_input = input("Enter the string: ")
count = 0

for i in str_input:
    if i.islower():
        count += 1

print(count)

Enter the string: My NAme Is PRamIKhA
7

28. Swap the case of each character in a string.

In [8]:
str = input("Enter a string")

swapped_str = str.swapcase()

print(swapped_str)

Enter a stringHeLlO WoRlD
hElLo wOrLd

29. Remove a specific word from a string.

In [11]:
str=input("Enter a string")
word = input("Enter a word")
new_str=str.replace(word,"")
print(new_str)

Enter a stringmy name is pramikha
Enter a wordname
my  is pramikha

30. Check if a string is a valid email address.

In [13]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [15]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = input("Enter an email address")
result = extract_username(email)
print(result)

Enter an email addresspramikhakannan@gmail.com
pramikhakannan

32. Extract the domain name from an email address string.

In [17]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = input("Enter an email address")
result = extract_domain(email)
print(result)

Enter an email addresspk4018@srmist.edu.in
srmist.edu.in

33. Replace multiple spaces in a string with a single space.

In [19]:
str=input("Enter a string")
split=str.split()    #splitting the individual words
new_string = ' '.join(split)     #Joining the individual 
print(new_string)

Enter a stringI    am  enjoying     data    science
I am enjoying data science

34. Check if a string is a valid URL.

In [20]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

36. Find the frequency of each character in a string.

In [21]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

37. Remove all punctuation from a string.

In [26]:
# Define punctuation
punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# String with punctuation's
string = "Hello!!!, This is ##STechies$$."

# Initialize empty string
final_string = ''

# for loop to check each character in the string
for ch in string:
   if ch not in punctuation:
       final_string = final_string + ch
       
# Print final String
print('String with Punctuation: ', string)
print('String without Punctuation: ', final_string)

String with Punctuation:  Hello!!!, This is ##STechies$$.
String without Punctuation:  Hello This is STechies

38. Check if a string contains only digits.

In [29]:
str=input("Enter a string")
if str.isdigit():
    print("True")
else:
    print("False")

Enter a string2492
True

39. Check if a string contains only alphabets.

In [31]:
str=input("Enter a string")
if str.isalpha():
    print("True")
else:
    print('False')

Enter a stringpramu
True

40. Convert a string to a list of characters.

In [32]:
str = input("Enter a string")
chars = list(str)
print(chars)

Enter a stringMy name is Pramikha
['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'P', 'r', 'a', 'm', 'i', 'k', 'h', 'a']

41. Check if two strings are anagrams.

In [33]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

44. Find the most frequent word in a string.

In [2]:
from collections import Counter
import re

def find_most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    cleaned_string = re.sub(r'[^\w\s]', '', input_string.lower())

    # Split the cleaned string into words
    words = cleaned_string.split()

    # Use Counter to count word frequencies
    word_counts = Counter(words)

    # Find the most common word and its frequency
    most_common_word, frequency = word_counts.most_common(1)[0]

    return most_common_word, frequency

# Example usage:
input_string = "This is a simple Python program. Python is a versatile language."
most_frequent, frequency = find_most_frequent_word(input_string)
print(f"The most frequent word is '{most_frequent}' with a frequency of {frequency} times.")

The most frequent word is 'is' with a frequency of 2 times.

45. Find all unique words in a string.

In [3]:
def find_unique_words(input_string):
    # Remove punctuation and convert to lowercase
    cleaned_string = input_string.lower().replace('.', '').replace(',', '')

    # Split the cleaned string into words
    words = cleaned_string.split()

    # Use a set to store unique words
    unique_words = set(words)

    return unique_words

# Example usage:
input_string = "This is a simple Python program. Python is a versatile language."
unique_words = find_unique_words(input_string)
print("Unique words in the string:")
for word in unique_words:
    print(word)

Unique words in the string:
python
a
is
this
simple
versatile
language
program

47. Check if a string contains any special characters.

In [6]:
import string

def contains_special_characters(input_string):
    # Define a string containing all alphanumeric characters
    alphanumeric = string.ascii_letters + string.digits

    # Iterate through each character in the input string
    for char in input_string:
        # Check if the character is not alphanumeric
        if char not in alphanumeric:
            return True  # The string contains at least one special character

    return False  # The string does not contain any special characters

# Example usage:
input_string = "Hello123"
if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string does not contain special characters.

48. Remove the nth word from a string.

In [7]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid index
    if n >= 0 and n < len(words):
        # Remove the nth word
        del words[n]
        # Join the remaining words back into a string
        result_string = " ".join(words)
        return result_string
    else:
        return "Invalid index, word not removed."

# Example usage:
input_string = "This is a simple Python program."
n = 2  # Remove the third word (0-based index)
result = remove_nth_word(input_string, n)
print(result)

This is simple Python program.

49. Insert a word at the nth position in a string.

In [8]:
def insert_word_at_position(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid position
    if n >= 0 and n <= len(words):
        # Insert the word at the specified position
        words.insert(n, word_to_insert)
        # Join the words back into a string
        result_string = " ".join(words)
        return result_string
    else:
        return "Invalid position, word not inserted."

# Example usage:
input_string = "This is a simple program."
word_to_insert = "Python"
n = 3  # Insert "Python" at the fourth position (0-based index)
result = insert_word_at_position(input_string, word_to_insert, n)
print(result)

This is a Python simple program.

50. Convert a CSV string to a list of lists.

In [9]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a StringIO object to simulate a file-like object
    csv_file = StringIO(csv_string)

    # Use the csv.reader to parse the CSV data into a list of lists
    csv_reader = csv.reader(csv_file)
    
    # Convert the CSV reader object to a list of lists
    csv_list = [row for row in csv_reader]

    return csv_list

# Example usage:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list = csv_string_to_list(csv_string)

# Printing the resulting list of lists
for row in csv_list:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
a = range(1,11)
list_range = list(a)
print(list_range)

2. Find the length of a list without using the `len()` function.

In [ ]:
list=[12,5,6,2,6,21,46,78,32,4,9,13]
count = 0
for i in list:
    count=count+1
print(count)

3. Append an element to the end of a list.

In [ ]:
list=[1,2,3,4,5,6,7,8]
a=int(input("Enter an element"))
new_list=list.append(a)
print(new_list)

4. Insert an element at a specific index in a list.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
a = input("Enter a word to be inserted")
b = fruits.insert(1, "orange")
print(b)

5. Remove an element from a list by its value.

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
a = list.remove(5)
print(a)

6. Remove an element from a list by its index.

In [ ]:
lst = [1, 2, 3, 4, 5]
a = int(input("Enter an element"))
print(lst.pop(a))

7. Check if an element exists in a list.

In [ ]:
lst = [1, 2, 3, 4, 5]
find = 3

if find in lst:
    print(f"{find} exists in the list.")
else:
    print(f"{find} does not exist in the list.")

8. Find the index of the first occurrence of an element in a list.

In [ ]:
list = [0,2,3,4,5,1,7,8,9,1]
a = int(input("Enter an element"))
for i in list:
    if a==list[i]:
        print("First occurance at",i)
        break

9. Count the occurrences of an element in a list.

In [ ]:
lst = [1,2,3,4,5,6,2,7,8,9,10]
occurances = lst.count(2)
print(occurances)

10. Reverse the order of elements in a list.

In [ ]:
lst = [1,2,3,4,5,6,2,7,8,9,10]
rev = lst[::-1]
print(rev)

11. Sort a list in ascending order.

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print("Sorted list in ascending order:", my_list)

11. Sort a list in descending order.

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort(reverse=True)
print("Sorted list in descending order:", my_list)

13. Create a list of even numbers from 1 to 20.

In [1]:
even = []
for i in range(2,21,2):
    even.append(i)
    
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [7]:
odd_no = []
for i in range(1,20,2):
    odd_no.append(i)
print(odd_no)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [18]:
lst = [1,3,5,7,2,6,8]
sum = 0
for i in lst:
    sum=sum+i
print(sum)

32

16. Find the maximum value in a list.

In [19]:
# Define a list of numbers
numbers = [10, 25, 6, 42, 8, 19]

# Use the max() function to find the maximum value
maximum_value = max(numbers)

# Print the maximum value
print("Maximum value in the list:", maximum_value)

Maximum value in the list: 42

17. Find the minimum value in a list.

In [20]:
# Define a list of numbers
numbers = [10, 25, 6, 42, 8, 19]

# Use the min() function to find the maximum value
mainimum_value = min(numbers)

# Print the miniimum value
print("Minimum value in the list:", mainimum_value)

Minimum value in the list: 6

18. Create a list of squares of numbers from 1 to 10.

In [21]:
# Initialize an empty list to store the squares
squares = []

# Use a for loop to calculate and append the squares
for i in range(1, 11):
    squares.append(i ** 2)

# Print the list of squares
print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [22]:
import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[5, 4, 3, 9, 9, 8, 5, 9, 5, 7]

20. Remove duplicates from a list.

In [23]:
# Define a list with duplicate elements
my_list = [1, 2, 2, 3, 4, 4, 5]

# Create an empty list to store unique elements
unique_list = []

# Iterate through the original list
for item in my_list:
    # If the item is not in unique_list, add it
    if item not in unique_list:
        unique_list.append(item)

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [24]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using the intersection of sets
common_elements = list(set(list1) & set(list2))

# Print the common elements
print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [3, 4, 5]

22. Find the difference between two lists.

In [25]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between the two lists
difference = list(set(list1) - set(list2))

# Print the difference
print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [1, 2]

23. Merge two lists.

In [28]:
lst1 = [1,3,5]
lst2 = [2,4,6]
new_lst = lst1+lst2
print(new_lst)

[1, 3, 5, 2, 4, 6]

24. Multiply all elements in a list by 2.

In [ ]:
lst = [2,3,4,5,6,7,8]
for i in lst:
    lst.append(lst*2)
print(lst)

25. Filter out all even numbers from a list.25. Filter out all even numbers from a list.

In [38]:
lst = [2, 3, 4, 5, 6, 7, 8, 9]
even_list = []

for i in lst:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [42]:
# List of strings
string_list = ["1", "2", "3", "4", "5"]

# Initialize an empty list to store integers
integer_list = []

# Convert and append each string to the integer list
for i in string_list:
    integer_list.append(int(i))

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [43]:
# List of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [44]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

# Nested list
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]

# Flatten the nested list
flat_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [46]:
fib = [0, 1]

for i in range(2, 10):
    next_fib = fib[i-1] + fib[i-2]
    fib.append(next_fib)

print("First 10 Fibonacci numbers:", fib)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [47]:
def is_sorted(input_list):
    for i in range(len(input_list) - 1):
        if input_list[i] > input_list[i + 1]:
            return False
    return True

# Test cases
list1 = [1, 2, 3, 4, 5]
list2 = [5, 3, 2, 1]
list3 = [1, 1, 2, 2, 3]

# Check if the lists are sorted
print("Is list1 sorted?", is_sorted(list1))
print("Is list2 sorted?", is_sorted(list2))
print("Is list3 sorted?", is_sorted(list3))

Is list1 sorted? True
Is list2 sorted? False
Is list3 sorted? True

31. Rotate a list to the left by `n` positions.

In [48]:
def rotate_left(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list length
    return lst[n:] + lst[:n]

# Test case
my_list = [1, 2, 3, 4, 5]
rotated = rotate_left(my_list, 2)

print("Original list:", my_list)
print("Rotated list:", rotated)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [49]:
def rotate_right(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list length
    return lst[-n:] + lst[:-n]

# Test case
my_list = [1, 2, 3, 4, 5]
rotated = rotate_right(my_list, 2)

print("Original list:", my_list)
print("Rotated list:", rotated)

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [51]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_list = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print("Prime numbers up to 50:", prime_list)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [52]:
def split_list(lst, n):
    chunks = []
    for i in range(0, len(lst), n):
        chunk = lst[i:i + n]
        chunks.append(chunk)
    return chunks

# Test case
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3

# Split the list into chunks of size `n`
chunks = split_list(lst, n)

# Print the list of chunks
print("List of chunks:", chunks)

List of chunks: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [53]:
# List of numbers
numbers = [12, 45, 1, 78, 90, 23, 89, 34, 56]

# Check if the list has at least two elements
if len(numbers) < 2:
    print("List should have at least two elements.")
else:
    # Sort the list in descending order
    numbers.sort(reverse=True)
    
    # Print the second largest number
    print("Second largest number:", numbers[1])

Second largest number: 89

36. Replace every element in a list with its square.

In [56]:
# Original list
original_list = [1, 2, 3, 4, 5]

# Create a new list with elements squared
squared_list = []
for x in original_list:
    squared_list.append(x**2)

# Print the new list
print("Original list:", original_list)
print("List with elements squared:", squared_list)

Original list: [1, 2, 3, 4, 5]
List with elements squared: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [58]:
# Original list
original_list = ['apple', 'banana', 'cherry', 'date']

# Initialize an empty dictionary
result_dict = {}

# Loop through the list and create the dictionary
for index, element in enumerate(original_list):
    result_dict[element] = index

# Print the resulting dictionary
print("List as keys and indices as values:", result_dict)

List as keys and indices as values: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [59]:
import random

# Original list
original_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(original_list)

# Print the shuffled list
print("Shuffled list:", original_list)

Shuffled list: [4, 5, 1, 3, 2]

39. Create a list of the first 10 factorial numbers.

In [60]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(n) for n in range(10)]

# Print the list of factorial numbers
print("First 10 factorial numbers:", factorial_list)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [61]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert the lists to sets
set1 = set(list1)
set2 = set(list2)

# Check if there is at least one common element
if set1.intersection(set2):
    print("The lists have at least one common element.")
else:
    print("The lists have no common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [63]:

my_list = [1, 2, 3, 4, 5]
my_list = []
print("List after reassigning an empty list:", my_list)

List after reassigning an empty list: []

42. Replace negative numbers in a list with 0.

In [64]:
# Original list
original_list = [1, -2, 3, -4, 5, -6]

# Create a new list with negative numbers replaced by 0
new_list = []

for num in original_list:
    if num < 0:
        new_list.append(0)
    else:
        new_list.append(num)

# Print the new list
print("Original list:", original_list)
print("List with negative numbers replaced by 0:", new_list)

Original list: [1, -2, 3, -4, 5, -6]
List with negative numbers replaced by 0: [1, 0, 3, 0, 5, 0]

43. Convert a string into a list of words.

In [65]:
# Input string
input_string = "This is a sample sentence."

# Convert the string into a list of words
word_list = input_string.split()

# Print the list of words
print("Original string:", input_string)
print("List of words:", word_list)

Original string: This is a sample sentence.
List of words: ['This', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [66]:
# List of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']

# Convert the list of words into a string
result_string = ' '.join(word_list)

# Print the resulting string
print("List of words:", word_list)
print("Resulting string:", result_string)

List of words: ['This', 'is', 'a', 'sample', 'sentence.']
Resulting string: This is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [67]:
# Number of powers of 2 to generate
n = 5

# Create a list of the first `n` powers of 2 using list comprehension
powers_of_2 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print(f"First {n} powers of 2:", powers_of_2)

First 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [69]:
# List of strings
string_list = ["apple", "banana", "cherry", "date", "elephant", "fig"]

# Find the longest string using the max() function with a custom key
longest_string = max(string_list, key=len)

# Print the longest string
print("List of strings:", string_list)
print("Longest string:", longest_string)

List of strings: ['apple', 'banana', 'cherry', 'date', 'elephant', 'fig']
Longest string: elephant

47. Find the shortest string in a list of strings.

In [72]:
# List of strings
string_list = ["apple", "banana", "cherry", "date", "elephant", "fig"]

# Find the shortest string using the min() function with a custom key len
shortest_string = min(string_list, key=len)

# Print the shortest string
print("List of strings:", string_list)
print("Longest string:", shortest_string)

List of strings: ['apple', 'banana', 'cherry', 'date', 'elephant', 'fig']
Longest string: fig

47. Find the shortest string in a list of strings.

In [73]:
# List of strings
string_list = ["apple", "banana", "cherry", "date", "elephant", "fig"]

# Find the shortest string using the min() function with a custom key
shortest_string = min(string_list, key=len)

# Print the shortest string
print("List of strings:", string_list)
print("Shortest string:", shortest_string)

List of strings: ['apple', 'banana', 'cherry', 'date', 'elephant', 'fig']
Shortest string: fig

50. Swap two elements in a list by their indices.

In [74]:
# List
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1  # Index of the first element to swap
index2 = 3  # Index of the second element to swap

# Check if indices are valid
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

    # Print the list after swapping
    print("List after swapping elements at indices", index1, "and", index2, ":", my_list)
else:
    print("Invalid indices. Please make sure indices are within the range of the list.")

List after swapping elements at indices 1 and 3 : [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [75]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Print the tuple
print("Tuple with integers from 1 to 5:", my_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [76]:
# Tuple
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

# Print the third element
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

In [77]:
# Tuple
my_tuple = (1, 2, 3, 4, 5)

# Initialize a counter
length = 0

# Iterate through the tuple and count the elements
for _ in my_tuple:
    length += 1

# Print the length of the tuple
print("Length of the tuple:", length)

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [78]:
# Tuple
my_tuple = (1, 2, 2, 3, 2, 4, 5, 2)

# Element to count
a = 2

# Initialize a counter
count = 0

# Iterate through the tuple and count the occurrences
for i in my_tuple:
    if i == a:
        count += 1

# Print the count
print(f"Number of occurrences of {a} in the tuple: {count}")

Number of occurrences of 2 in the tuple: 4

5. Find the index of the first occurrence of an element in a tuple.

In [81]:
tuple = (1,2,3,4,5,6,7,8,9,10)
to_find = 9
for i in range(len(tuple)):
    if tuple[i]==to_find:
        print(i)

8

6. Check if an element exists in a tuple.

In [87]:
tuple = (1,2,3,4,5,6,7,8,9,10)
to_find = 17
if to_find in tuple:
    print("Element exists")
else:
    print("Not exists")

Not exists

7. Convert a tuple to a list.

In [89]:
# Create a tuple
tup = (1, 5, 8, 9, 10)

# Convert tuple to list
lst = list(tup)

# Print the list
print(lst)

[1, 5, 8, 9, 10]

8. Convert a list to a tuple.

In [92]:
lst = [1, 5, 8, 9, 10]

# Convert list to tuple using a tuple literal
tup = (lst)

# Print the tuple
print(tup)

[1, 5, 8, 9, 10]

9. Unpack the elements of a tuple into variables.

In [93]:
# Create a tuple
test_tuple = (1, 5, 8, 9, 10)

# Unpack the elements of the tuple into variables
a, b, c, d, e = test_tuple

# Print the variables
print(a)
print(b)
print(c)
print(d)
print(e)

1
5
8
9
10

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
# Create a list of even numbers from 1 to 10
even_numbers = [x for x in range(1, 11) if x % 2 == 0]

# Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers)

# Print the tuple
print(even_numbers_tuple)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:


# Create a list of odd numbers from 1 to 10
odd_numbers = [x for x in range(1, 11) if x % 2 != 0]

# Convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers)

# Print the tuple
print(odd_numbers_tuple)

12. Concatenate two tuples.

In [109]:
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,0)
new_tuple = tup1+tup2 #concatenating 2 tuples
print(new_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

13. Repeat a tuple three times.

In [110]:
tup = (1,2,3,4,5)
new_tuple = tup*3
print(new_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [111]:
# Create a tuple
tup = ()

# Check if the tuple is empty using the len() function
if len(tup) == 0:
  print("The tuple is empty.")
else:
  print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [116]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
nested_tuple = (tuple1, tuple2)

16. Access the first element of a nested tuple.

In [117]:
nested_tuple = ((1, 2, 3), (4, 5, 6))

# Access the first element of the nested tuple
first_element = nested_tuple[0][0]

# Print the first element
print(first_element)

1

17. Create a tuple with a single element.

In [119]:
single_element_tuple = (1,)

18. Compare two tuples.

In [120]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3, 4)

# Compare the two tuples using the < operator
if tuple1 < tuple2:
  print("The first tuple is less than the second tuple.")
else:
  print("The first tuple is not less than the second tuple.")

The first tuple is less than the second tuple.

19. Delete a tuple.

In [122]:
del tuple

20. Slice a tuple.

In [123]:
test_tuple = (1, 2, 3, 4, 5)

# Slice the tuple from index 1 to index 3, excluding element 3
sliced_tuple = test_tuple[1:3]

# Print the sliced tuple
print(sliced_tuple)

(2, 3)

21. Find the maximum value in a tuple.

In [125]:
test_tuple = (1, 5, 8, 9, 10)

# Find the maximum value in the tuple
max_value = max(test_tuple)

# Print the maximum value
print(max_value)

10

22. Find the minimum value in a tuple.

In [126]:
test_tuple = (1, 5, 8, 9, 10)

# Find the minimum value in the tuple
min_value = min(test_tuple)

# Print the minimum value
print(min_value)

1

23. Convert a string to a tuple of characters.

In [128]:
# Input string
input_string = "Hello, World!"

# Initialize an empty tuple
char_tuple = ()

# Iterate through each character in the string and add it to the tuple
for char in input_string:
    char_tuple += (char,)

# Print the resulting tuple
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [129]:
# Input tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple to a string by joining the characters
result_string = ''.join(char_tuple)

# Print the resulting string
print(result_string)

Hello, World!

25. Create a tuple from multiple data types.

In [130]:
# Creating a tuple with elements of multiple data types
mixed_tuple = (1, "Hello", 3.14, True)

# Print the tuple
print(mixed_tuple)

(1, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [131]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

27. Sort the elements of a tuple.

In [132]:
# Define a tuple
my_tuple = (5, 1, 3, 2, 4)

# Convert the tuple to a sorted list
sorted_list = sorted(my_tuple)

# Convert the sorted list back to a tuple
sorted_tuple = tuple(sorted_list)

# Print the sorted tuple
print("Original Tuple:", my_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (5, 1, 3, 2, 4)
Sorted Tuple: (1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [133]:
# Original tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Initialize an empty tuple for strings
str_tuple = ()

# Convert each integer to a string and add it to the new tuple
for num in int_tuple:
    str_tuple += (str(num),)

# Print the tuple of strings
print(str_tuple)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [134]:
# Original tuple of strings
str_tuple = ("1", "2", "3", "4", "5")

# Use a list comprehension to convert the strings to integers
int_tuple = tuple(int(s) for s in str_tuple)

# Print the tuple of integers
print(int_tuple)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [135]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

Flatten a nested tuple.

In [137]:
# Function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

# Example nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)

# Flatten the nested tuple
flattened_tuple = flatten_tuple(nested_tuple)

# Print the flattened tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [139]:
# Create a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

# Print the tuple
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [140]:
# Function to check if a tuple is a palindrome
def is_palindrome(t):
    return t == t[::-1]

# Test the function with some examples
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print("Tuple 1 is a palindrome:", is_palindrome(tuple1))
print("Tuple 2 is a palindrome:", is_palindrome(tuple2))

Tuple 1 is a palindrome: True
Tuple 2 is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [141]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [143]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Use a list comprehension to filter out even numbers
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the filtered tuple
print(filtered_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [144]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Use a list comprehension to create a new tuple with elements multiplied by 2
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the new tuple
print(doubled_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [145]:
import random

# Generate a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the tuple
print(random_tuple)

(33, 6, 67, 59, 10)

38. Check if a tuple is sorted.

In [146]:
# Function to check if a tuple is sorted
def is_sorted(t):
    return t == tuple(sorted(t))

# Test the function with some examples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

print("Tuple 1 is sorted:", is_sorted(tuple1))
print("Tuple 2 is sorted:", is_sorted(tuple2))

Tuple 1 is sorted: True
Tuple 2 is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [148]:
# Function to rotate a tuple to the left by n positions
def rotate_left_tuple(t, n):
    n = n % len(t)  # Ensure n is within the bounds of the tuple length
    return t[n:] + t[:n]

# Test the function with an example tuple and rotation value
original_tuple = (1, 2, 3, 4, 5)
rotation_count = 2  # Rotate left by 2 positions

rotated_tuple = rotate_left_tuple(original_tuple, rotation_count)

print("Original Tuple:", original_tuple)
print(f"Rotated by {rotation_count} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [149]:
# Function to rotate a tuple to the right by n positions
def rotate_right_tuple(t, n):
    n = n % len(t)  # Ensure n is within the bounds of the tuple length
    return t[-n:] + t[:-n]

# Test the function with an example tuple and rotation value
original_tuple = (1, 2, 3, 4, 5)
rotation_count = 2  # Rotate right by 2 positions

rotated_tuple = rotate_right_tuple(original_tuple, rotation_count)

print("Original Tuple:", original_tuple)
print(f"Rotated by {rotation_count} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [150]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci.append(a)
        a, b = b, a + b
    return tuple(fibonacci)

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

43. Swap two elements in a tuple.

In [153]:
# Original tuple
original_tuple = (1, 2, 3, 4)

# Indices of elements to swap
index1 = 1
index2 = 2

# Convert the tuple to a list to modify it
temp_list = list(original_tuple)

# Swap the elements
temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(temp_list)

# Print the swapped tuple
print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4)
Swapped Tuple: (1, 3, 2, 4)

44. Reverse the elements of a tuple.

In [1]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the elements and create a new tuple
reversed_tuple = original_tuple[::-1]

# Print the reversed tuple
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [2]:
n = 5  # Change this to the number of powers of 2 you want

# Create a tuple of the first n powers of 2
powers_of_2 = tuple(2**i for i in range(n))

# Print the tuple
print(powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [3]:
# Define a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Find the longest string using the max() function with key=len
longest_string = max(string_tuple, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: banana

47. Find the shortest string in a tuple of strings.

In [4]:
# Define a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "fig")

# Find the shortest string using the min() function with key=len
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: fig

48. Create a tuple of the first `n` triangular numbers.

In [5]:
n = 5  # Change this to the number of triangular numbers you want

# Create a tuple of the first n triangular numbers
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6)

# Subsequence tuple to check
sub_tuple = (2, 4, 6)

main_len = len(main_tuple)
sub_len = len(sub_tuple)

main_index = 0
sub_index = 0

while main_index < main_len and sub_index < sub_len:
    if main_tuple[main_index] == sub_tuple[sub_index]:
        sub_index += 1
    main_index += 1

if sub_index == sub_len:
    print("The sub-tuple is a subsequence of the main tuple.")
else:
    print("The sub-tuple is not a subsequence of the main tuple.")

The sub-tuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [7]:
n = 10  # Change this to the desired length of the tuple

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the tuple
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [8]:
# Create a set with integers from 1 to 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [9]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [10]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Attempt to remove an element from the set
element_to_remove = 3
my_set.remove(element_to_remove)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [11]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Attempt to remove an element from the set
element_to_remove = 3
my_set.remove(element_to_remove)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

5. Find the length of a set without using the `len()` function.

In [12]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Attempt to remove an element from the set
element_to_remove = 3
my_set.remove(element_to_remove)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

6. Clear all elements from a set.

In [13]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the empty set
print("The set after clearing:", my_set)

The set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [14]:
# Create a set of even numbers from 1 to 10
even_set = set(range(2, 11, 2))

# Print the set
print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [15]:
# Create a set of odd numbers from 1 to 10
odd_set = set(range(1, 11, 2))

# Print the set
print(odd_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [16]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [17]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

{4, 5}

11. Find the difference between two sets.

In [18]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference between set1 and set2 using the - operator
difference_set = set1 - set2

# Print the difference set
print(difference_set)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [19]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

# Check if set2 is a subset of set1 using the issubset() method
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

13. Check if a set is a superset of another set.

In [20]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

# Check if set2 is a subset of set1 using the issubset() method
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

14. Create a set from a list.

In [22]:
# Create a list
my_list = [1, 2, 3, 4, 5, 4, 3, 2, 1]  # Duplicates are allowed in the list

# Create a set from the list
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [23]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [24]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

In [25]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [26]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

# Check if the sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have some elements in common.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [27]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between the two sets using the ^ operator
symmetric_difference_set = set1 ^ set2

# Print the symmetric difference set
print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [28]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Update set1 with elements from set2
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [29]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers
prime_set = set()
num = 2  # Start with the first prime number

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

# Print the set of prime numbers
print(prime_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [30]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 and vice versa
are_identical = set1.issubset(set2) and set2.issubset(set1)

# Print the result
if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [31]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a frozen set
frozen_set = frozenset(my_set)

# Print the frozen set
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [32]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have some elements in common).")

The sets are disjoint (have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [33]:
# Create a set of squares of numbers from 1 to 5
square_set = {x ** 2 for x in range(1, 6)}

# Print the set
print(square_set)

{1, 4, 9, 16, 25}

27. Multiply all elements in a set by 2.

In [34]:
# Create a set
original_set = {1, 2, 3, 4, 5}

# Multiply all elements by 2 and create a new set
new_set = {x * 2 for x in original_set}

# Print the new set
print(new_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [35]:
import random

# Set the seed for reproducibility (optional)
random.seed(42)

# Create a set of random numbers
random_set = set(random.sample(range(1, 101), 10))

# Print the set of random numbers
print(random_set)

{32, 4, 36, 14, 15, 82, 18, 87, 29, 95}

29. Check if a set is empty.

In [36]:
# Create a set
my_set = set()

# Check if the set is empty based on its length
if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [37]:
# Create nested sets using frozenset
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5})}

# Print the nested set
print(nested_set)

{frozenset({3, 4, 5}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [38]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Element to remove
element_to_remove = 3

# Remove the element using the discard method
my_set.discard(element_to_remove)

# Print the updated set
print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

In [39]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Compare the sets for equality
if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are not equal.

33. Create a set from a string.

In [40]:
# Create a string
my_string = "hello, world"

# Create a set from the string
my_set = set(my_string)

# Print the set
print(my_set)

{'o', ',', 'w', 'r', 'e', 'l', ' ', 'd', 'h'}

34. Convert a set of strings to a set of integers.

In [41]:
# Create a set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
int_set = {int(s) for s in string_set}

# Print the set of integers
print(int_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [42]:
# Create a set of integers
int_set = {1, 2, 3, 4, 5}

# Initialize an empty set for strings
string_set = set()

# Convert and add each integer to the string set
for i in int_set:
    str_i = str(i)
    string_set.add(str_i)

# Print the set of strings
print(string_set)

{'2', '5', '4', '1', '3'}

36. Create a set from a tuple.

In [43]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [44]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [45]:
# Create a set
my_set = {10, 5, 8, 20, 15}

# Find the maximum value in the set
max_value = max(my_set)

# Print the maximum value
print("The maximum value in the set is:", max_value)

The maximum value in the set is: 20

39. Find the minimum value in a set.

In [46]:
# Create a set
my_set = {10, 5, 8, 20, 15}

# Find the minimum value in the set
min_value = min(my_set)

# Print the minimum value
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 5

40. Create a set from user input.

In [47]:
# Gather user input and create a set
user_set = set()

while True:
    user_input = input("Enter an element (or 'done' to finish): ")
    if user_input.lower() == 'done':
        break
    try:
        user_set.add(int(user_input))
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

print("User-set:", user_set)

Enter an element (or 'done' to finish): done
User-set: set()

41. Check if the intersection of two sets is empty.

In [48]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

# Check if the intersection is empty using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
if are_disjoint:
    print("The intersection is empty (no common elements).")
else:
    print("The intersection is not empty (has common elements).")

The intersection is empty (no common elements).

42. Create a set of the first 5 Fibonacci numbers.

In [49]:
# Create a set to store the Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Add the first 5 Fibonacci numbers to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print(fibonacci_set)

{0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [50]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 6]

# Remove duplicates using sets
my_list = list(set(my_list))

# Print the list without duplicates
print(my_list)

[1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [51]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if set1 is a subset of set2 and vice versa
are_equal = set1.issubset(set2) and set2.issubset(set1)

# Print the result
if are_equal:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [52]:
# Set the value of n
n = 5  # You can change this to any positive integer

# Create a set of the first n powers of 2
powers_of_2_set = {2 ** i for i in range(n)}

# Print the set of powers of 2
print(powers_of_2_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [53]:
# Create a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using the intersection method
common_elements = my_set.intersection(my_list)

# Print the common elements
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

Create a set of the first `n` triangular numbers.

In [54]:
# Set the value of n (number of triangular numbers)
n = 5  # You can change this to any positive integer

# Create a set of the first n triangular numbers
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# Print the set of triangular numbers
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [55]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 6}

# Check if set2 is a subset of set1 using the issubset() method
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

50. Merge multiple sets into one.

In [56]:
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using the union() method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

# THANK YOU